<%= turbo_frame_tag product do %>
  <li class="list-group-item">
    <div class="row mt-2">

      <span class="col-md-2 col-sm-12">
        <%= product.name %>
      </span>

      <span class="col-md-2 col-sm-12">
        <%= product.category.name %>
      </span>

      <span class="col-md col-sm-12 mb-3">
        <%= product.description %>
      </span>

      <span class="col-auto mb-2">
        <%= link_to "Show", product, data: { turbo_frame: "_top" }, class: "btn btn-secondary" %>
        <%= link_to "Delete", product, class: "btn btn-danger", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
        <%= link_to "Edit", edit_product_path(product), class: "btn btn-warning", data: { turbo_frame: "modal" } %>
      </span>

    </div>
  </li>
<% end %>