<!DOCTYPE html>
<html>
  <head>
    <title>Integround</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>window.process = { env: {} }</script>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      <div 
        class="modal" 
        tabindex="-1"
        data-controller="modal"
        data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <%= turbo_frame_tag "modal" %>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
